
*.pac
*.txt
*.xml
*.dll
*.pak
*.exe
*.dat
*.bin
tools/StringTableAnalyzer/charset.utf8
lang_en/launcher.utf8
bod_lang_en_demo/bod_demo_main.utf8
bod_lang_en_demo/bod_demo_cards.utf8
bod_lang_en_demo/bod_demo_gossips.utf8
*.png
*.lnk
ChromiumResources/locales/zh-TW.pak.info
*.info
lang_en/config.utf8
